body {
    background: rgba(0, 0, 0, 0.227);
    font-size: 20px;
}

body h1 {
    text-align: center;
}

.formulario {
    padding-top: 50px;
    padding-left: 1%;
}

strong {
    padding-left: 10px;
}

.lista th {
    padding: 20px;
}

.lista th:hover {
    color: blue;
    /* text-transform: uppercase; */
}